@(message: String)
@main_dashboard("OLSSFRP" ) {

    @views.html.navigation("message")

    <div class="content-wrapper py-3">
        <div class="container-fluid">
            <div class="row trak_map_page">
                <div class="page-header" style="background-image: url('@routes.Assets.at("images/vehicle3.jpg")')">

                    <div class="container">
                        <div class="col-md-12"><br>

                            <h2 class="text-success ">Welcome to reply citizens' inquiries</h2>
                            <div class="chats mt-5 col-lg-12" >
                                    <ul class="list-group  list-group-horizontal-sm">
                    @if(Inquiries.GroupCitizenChatByID() !=null && !Inquiries.GroupCitizenChatByID().isEmpty()){
                                       @for(sender <- Inquiries.GroupCitizenChatByID() ) {
                                       <a href="@routes.AdminDashboard.ChatDetails(sender.citizen_identification)" class="mylink" >
                        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-default py-2"  >
                                               <p>@sender.citizen_name</p>  <br>
                            <span class="badge badge-primary "> Identity : @sender.citizen_identification </span>

                            @if(sender.reply ==null ){
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               <span class="badge badge-warning badge-pill ml-2">@Inquiries.Unread  unreplied message</span>
                                    }else{
                                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                       <span class="badge badge-success badge-pill">Replied</span><br>
                                           }
                                </li>
                                 </a>
                                 }  <!-- End for -->

                                       }else{
                              <p>No chat available</p>
                                      }
                                    </ul>

                                </div>
                            </div>


                        </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
            <!-- /.container-fluid -->
    </div>
        <!-- /.content-wrapper -->

    <a class="scroll-to-top rounded" href="#">
        <i class="fa fa-chevron-up"></i>
    </a>

    <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC_7OucfzhqVC8ic_RPW0jPy-55OE0y-ZA&sensor=false&libraries=places">
    </script>

}