@(lawList : java.util.List[Laws])
<!--==========================
      Services Section
    ============================-->
<section id="services" class="section-bg">
    <div class="container">
        @if(lawList !=null && !lawList.isEmpty) {
            <header class="section-header">
                <h3 class="text-success">@lawList.get(0).cat.category_name category </h3>
                <p>@lawList.get(0).cat.description</p>
            </header>
        }

        <div class="row">
         @if(lawList !=null && !lawList.isEmpty){
        @for(mylaws  <- lawList) {

            <div class="list-group col-lg-8 offset-2 ">
                <div class="DivLaws">
       <a href="@routes.AdminDashboard.LawComment(mylaws.id)">
                <input type="text" value="@mylaws.id" class="lawid " hidden>
                <span  class="list-group-item list-group-item-primary offset-1 text-white ">
                    <h6><b>@mylaws.law_name</b> </h6>
                </span>
                <span class="list-group-item list-group-item-action">
                    <span class="offset-2"><b>Law number</b></span> <br>
                    <span class="offset-2">@mylaws.law_number</span><br>

                    <span  class="offset-2"><b>Description</b></span><br>
                    <span class="offset-2">@mylaws.description</span>

                </span>
        </a>
                <hr>
            </div>
            </div>
        }
         }else{

             <div><p>No laws available in this category</p></div>
         }

        </div>

    </div>
</section><!-- #services -->