@(lawList : java.util.List[Laws])
<!--==========================
      Services Section
    ============================-->
<section id="services" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3>Laws </h3>
            <p>Laws are divided into the following categories, where you can read each and leave you comment, we guarantee your privacy about your comment(s)</p>
        </header>

        <div class="row">
         @if(lawList !="" && !lawList.isEmpty){
        @for(mylaws  <- lawList) {
            <a href="">
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #96ceff;"><i class="fa fa-address-book" style="color: #e98e06;"></i></div>
                        <h4 class="title"><a href="">@mylaws.Law_name</a></h4>
                        <p class="description">@mylaws.Law_name</p>
                    </div>
                </div>
            </a>
        }
         }else{

             <div><p>No laws available in this category</p></div>
         }

        </div>

    </div>
</section><!-- #services -->