@(lawList : java.util.List[Laws])
<!--==========================
      Services Section
    ============================-->
<section id="services" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3 class="text-success">@lawList.get(0).cat.category_name category </h3>
        <p>@lawList.get(0).cat.description</p>
        </header>

        <div class="row">
         @if(lawList !="" && !lawList.isEmpty){
        @for(mylaws  <- lawList) {


            <div class="list-group col-lg-8 offset-2">
                <a href="#" class="list-group-item list-group-item-primary offset-1 text-white">
                    <h6><b>@mylaws.Law_name</b> </h6>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <span class="offset-2"><b>Law number</b></span> <br>
                    <span class="offset-2">@mylaws.Law_number</span><br>

                    <span  class="offset-2"><b>Description</b></span><br>
                    <span class="offset-2">@mylaws.description</span>

                </a>
                <hr>

            </div>
        }
         }else{

             <div><p>No laws available in this category</p></div>
         }

        </div>

    </div>
</section><!-- #services -->