@(lawList : java.util.List[Laws])
@main("Welcome to OLSSFRP"){
    @indexheader()

    <!--==========================
      Services Section
    ============================-->
    @citizen_lawsdetails_section(lawList)

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="@routes.Assets.at("images/icon.png")" alt="" >
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="about-content">
                        <h2>About <span class="glyphicon glyphicon-send"></span></h2>
                        <h3>Online Law Sensibilisation System For Rwanda Parliament</h3>
                        <p>“Online law sensibilisation system for Rwanda parliament”. This helps public to follow and better understand the government law.</p>

                        <ul>
                            <li><i class="ion-android-checkmark-circle"></i>We care about you</li>
                            <li><i class="ion-android-checkmark-circle"></i>Ask we shall reply </li>
                            <li><i class="ion-android-checkmark-circle"></i>Don't miss the use of OLSSFRP for your acknowledgement about Laws</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- #about -->



    @*      Signup/Signin Section*@
    @*    ============================-->*@

    <section id="chat">
        <div class="container">
            <div class="row">

            @inquiry_model()

            </div>
        </div>
    </section>
}

